.numericinput {
    margin-bottom: 2vh;
    margin-top: 5vh;
    height: 7vh;
    width: 7vw;
    text-align: center;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 3px;
    color: #eeeeee;
    background-color: #333;
    border-color: darkorange
}